.dock-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dock-top {
  width: 100%;
  flex-shrink: 0;
}

.dock-bottom {
  width: 100%;
  flex-shrink: 0;
}

.dock-middle {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.dock-left {
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
  width: 250px;
}

.dock-right {
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
  width: 250px;
}

.dock-center {
  flex: 1;
  height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .dock-middle {
    flex-direction: column;
  }

  .dock-left, .dock-right {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

/* Debug */
.debug .dock-panel [class^=dock-] {
  outline: 2px dashed #55aa55;
}
